* {
  padding: 0;
  margin: 0;
}
.fp_logo {
  flex-basis: 190px;
}
.fp_navbar .navbar-nav .active > .nav-link {
  color: rgb(2 147 214);
  font-weight: 600;
}
.fp_navbar .navbar-nav .nav-link {
  color: rgba(63, 31, 12, 0.9);
}
.header {
  background-color: #219bf1;
}
.left_title_text h2 {
  font-size: 46px;
  font-weight: 700;
  color: #ffffff;
  line-height: 56px;
  text-transform: capitalize;
  padding-bottom: 10px;
}
.left_title_text p {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  padding-bottom: 10px;
}
.fp_banner {
  display: flex;
  align-items: center;
  height: 500px;
}
.start_btn a {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  text-transform: capitalize;
  padding: 10px 28px;
  border: 1px solid #ffffff;
  border-radius: 30px;
  margin: 0px;
  text-decoration: none;
  transition: all 0.4s linear;
  background-color: #42a9a9;
}
.start_btn a:hover {
  color: #42a9a9;
  background-color: #ffffff;
  border-color: #ffffff;
  transition: all 0.4s linear;
}
.fp_about h3 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #46a4b2;
  position: relative;
}
.fp_about h3:before {
  content: "";
  width: 120px;
  height: 1px;
  background-color: #83888b;
  position: absolute;
  bottom: -5px;
}
.fp_sevice h3:before {
  content: "";
  width: 109px;
  height: 1px;
  background-color: #83888b;
  position: absolute;
  bottom: -5px;
}
.fp_contact h3::before {
  width: 150px;
}
.fp_about_content {
  padding-top: 15px;
}
.fp_about_content p {
  font-size: 15px;
  font-weight: 400;
  text-align: justify;
  color: #0d0305;
  line-height: 30px;
}
.fp_card {
  background-color: #ffffff;
  box-shadow: 0px 0px 0px 1px rgb(0 0 0 / 15%);
  padding: 40px 0px 20px;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}
.fp_card_icon span i {
  font-size: 30px;
  font-weight: 600;
  color: #42a7ae;
}
.fp_card_title h3 {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding-top: 15px;
  color: #000000;
}
.fp_card:hover {
  border-color: #219bf1;
  transition: all 0.3s ease-in-out;
  border: 1px solid #219bf1;
  transform: translateY(-15px);
}
.fp_card:hover .fp_card_icon span i,
.fp_card:hover .fp_card_title h3 {
  color: #219bf1;
}
.fp_card:hover .fp_card_icon spa {
  color: #219bf1;
}
.fp_service_content {
  display: flex;
  justify-content: space-around;
  padding: 50px 0px 40px;
}
.fp_contact_card,
.fp_card_detail,
.fp_contact_wrap {
  display: flex;
}
.fp_card_content h3 {
  font-size: 18px;
  font-weight: 600;
  color: #219bf1;
  margin: 0;
}
.fp_card_content p,
.fp_card_content a {
  font-size: 14px;
  font-weight: 400;
  color: #222222;
  margin: 0;
}
.fp_detail_icon i {
  font-size: 20px;
  padding: 15px;
  border-radius: 24px;
  background-color: #b4dffd;
  color: #219bf1;
}
.fp_detail_icon {
  text-align: center;
  vertical-align: middle;
}
.fp_card_detail:hover .fp_detail_icon i {
  background-color: #219bf1;
  transition: all 0.5s ease-in-out;
  color: #ffffff;
}
.fp_card_detail {
  margin-bottom: 1rem;
}
.footer_about h3 {
  font-size: 18px;
  font-weight: 600;
  color: #0095d6;
  text-align: center;
}
.footer_about p,
.footer_about a {
  font-size: 14px;
  font-weight: 400;
  margin: 0.5rem;
}
.footer_about a {
  color: #222222;
}
.footer_links ul li {
  list-style-type: none;
}
.footer_links ul li a {
  font-size: 14px;
  font-weight: 400;
  color: #222222;
  text-decoration: none;
}
.footer_social ul li {
  list-style-type: none;
}
.footer_social .yt,
.footer_social .fb {
  font-size: 32px;
  color: #e40d0d;
}
.footer_social .fb {
  color: #007bff;
}
.footer_social ul {
  justify-content: space-around;
  display: flex;
  width: 100px;
  margin: 25px auto 0;
}
.footer_links ul {
  width: 150px;
  margin: 25px auto 0;
}
.footer_links ul li a::before {
  content: "\f105";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  left: -10px;
  position: relative;
  color: #219bf1;
}
.footer_links ul li a:hover {
  color: #219bf1;
}
.fp_tagline {
  font-size: 14px;
}
.footer_copyright p {
  margin: 0px;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
}
.footer_copyright {
  background-color: #219bf1;
  margin-top: 15px;
  padding: 15px;
  text-align: center;
}

.start_btn {
  margin-top: 25px;
}
.pt-custom {
  padding-top: 70px;
}
.fp_banner_image img {
  animation: bounce 1.5s linear infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}
